<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Bucket App!</title>
  </head>
  <body>
    <a href="/continents">All Continents</a>
    <a href="/countries">All Countries</a>
    <a href="/cities">All Cities</a>
    <a href="/countries/new">New Country</a>
    <a href="/cities/new">New City</a>
    <%= yield %>
  </body>
</html>
