<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Bucket App!</title>
  </head>
  <body>
    <a href="/continents">Home</a>
    <%= yield %>
  </body>
</html>
