<form action="/cities/delete" method="post">
<input type="submit" value="Delete City">
<select name="id" id="continent-select">
  <% @cities.each do |city| %>
    <option value=<%= city.id %>><%= city.name.capitalize %></option>
  <% end %>
</select>
</form>
