<link href="/styles/countries_index_styles.css" rel="stylesheet">
<% for country in @countries %>
<div class="flex_cont_names">
<a href="/countries/<%=country.id%>" class="continent_names"><%= country.name %></a>
</div>
<% end %>
