
<form action="/countries/new" method="post">
<p>Create a new country:</p>
<label for="continent-select">Continent:</label>
<select name="continent_id" id="continent-select">
  <% @continents.each do |continent| %>
    <option value=<%= continent.id %>><%= continent.name.capitalize %></option>
  <% end %>
</select>

<label for="country-name-field">Country name:</label>
<input type="text" name="name" id="country-name-field"/>

<label for="country-population-field">Country population:</label>
<input type="number" name="population" id="country-population-field"/>

<label for="country-visited-checkbox">Visited?:</label>
<input type="radio" name="visited" value="true">True</input>
<input type="radio" name="visited" value="false">False</input>

<label for="country-capital-city-field">Capital City:</label>
<input type="text" name="capital_city" id="country-capital-city-field"/>

<input type="submit" value="Create Country">
</form>

<!-- name,
continent_id,
population,
visited,
capital_city -->
