
<form action="/create_country" method="post">
<p>Create a new country in <%=@continent.name%>:</p>
<label for="country-name-field">Country name:</label>
<input
type="text"
name="name"
id="country-name-field"
/>
<label for="country-population-field">Country population:</label>
<input
type="text"
name="population"
id="country-population-field"
/>
<label for="country-visited-field">Visited:</label>
<input
type="radio"
name="visited"
id="country-visited-field"
/>
<label for="country-unvisited-field">Unvisited:</label>
<input
type="radio"
name="visited"
id="country-unvisited-field"
/>
<label for="country-capital-city-field">Capital City:</label>
<input
type="text"
name="capital_city"
id="country-capital-city-field"
/>
<input type="submit" value="Create Country">
</form>

<!-- name,
continent_id,
population,
visited,
capital_city -->
