body {
  background-image: url("../images/cityscape.jpg");
  background-size: 100% 220%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-color: white;  /* fallback for old browsers */


}
